// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// screen size
$large-start: 992px;
$medium-start: 577px;
$medium-end: 991px;
$small-end: 576px;