@import 'create';
@import 'post';

.common-structure {
    position: relative;
    padding-top: 20px;
}

.side-a,
.side-b {
    position: sticky;
    top: 70px;
    max-height: calc(100vh - 60px);
    overflow: auto;
    z-index: 0;
}

.side-a {
    // z-index: 1;
    // left: 0;
    // right: 0;
    bottom: 0;
    background-color: var(--background-color);
    width: auto;

    &.is-open {
        display: block;
    }

    .flow-container {
        /* border: 1px solid green; */
        width: 100%;
        margin: 0 auto;
    }

    .flow {
        margin: 0 auto;
        /* width: 600px; */
    }

    .node {
        background-color: #ffe59a;
        color: #000;
        width: 90%;
        text-align: center;
        border: 1px solid #f8e197;
        padding: 15px 5px;
        word-break: break-word;
        /* box-shadow: 1px 1px 3px whitesmoke; //this is so bad for image */
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .root {
        background-color: #ffc001;
        border: 1px solid #eca836;
    }

    .color {
        margin: 0;
    }

    .color1 {
        background-color: #F72626;
        border: 1px solid #F72626;
    }

    .color2 {
        background-color: #FD4C4C;
        border: 1px solid #FD4C4C;
    }

    .color3 {
        background-color: #F76767;
        border: 1px solid #F76767;
    }

    .color4 {
        background-color: #F38A8A;
        border: 1px solid #F38A8A;
    }

    .color5 {
        background-color: #F7C2C2;
        border: 1px solid #F7C2C2;
    }

    .last {
        background-color: #ffffff;
        border: 1px solid lightgrey;
    }

    .note-table {
        display: table;
    }

    .note-cell {
        display: table-cell;
    }

    .legend tr>td:first-child {
        text-align: right;
        vertical-align: top;
    }

    .edge-label {
        padding-left: 70px;
    }

    .export-btn {
        color: #444;
        border: 1px solid #CCC;
        background: #DDD;
        box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        vertical-align: middle;
        max-width: 100px;
        padding: 5px;
        text-align: center;
        margin: 30px 30px;
    }

    .export-btn:active {
        box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
    }

    .button-down {
        position: relative;
        padding: 5px;
        margin: auto;
        /* background: #000; */
        height: 50px;
        width: 50px;
        width: 87px;
        border-radius: 50%;
        transition: all 0.2s linear;
    }

    .button-down:hover {
        transform: translate3d(0, 10px, 0);
    }

    .button-down::after {
        content: "";
        position: absolute;
        left: 17px;
        z-index: 11;
        display: block;
        width: 25px;
        height: 25px;
        border-top: 2px solid var(--text-color);
        border-left: 2px solid var(--text-color);
    }

    .button-down::after {
        top: 10px;
        transform: rotate(225deg);
    }
}

.side-b {
    // z-index: 1;
    // left: 0;
    // right: 0;
    bottom: 0;
    background-color: var(--background-color);
    width: auto;

    &.is-open {
        display: block;
    }
}

.common-list {
    list-style: none;

    &-select {
        background: var(--header-color);
        border: none;
    }

    &-button {
        display: flex;
        height: 52px;
        padding: 8px;
        color: var(--text-color);
        text-decoration: none;
        cursor: pointer;

        >* {
            margin: auto 0;
        }

        img {
            border-radius: 8px;
        }

        .user-image {
            border-radius: 50%;
        }

        .icon {
            width: 36px;
            font-size: 24px;
            text-align: center;
            margin-top: auto;
            margin-bottom: auto;
            margin-inline-end: 8px;
        }

        .text {
            font-weight: bold;
        }

        &:hover,
        &:focus {
            background-color: rgb(0, 0, 0, 0.05);
            border-radius: 8px;
        }

        &.is-ads {
            height: auto;

            .image {
                width: 115px;
                flex-shrink: 0;
                margin-inline-end: var(--size3);
            }

            .ads-url {
                font-weight: normal;
            }
        }
    }
}

.common-more {
    background-color: rgb(0, 0, 0, 0.05);
    color: var(--text-color);
    border-radius: 8px;
    height: 36px;
    width: calc(100% - 60px);
    border: none;
    margin: 8px;
    text-align: center;

    .text {
        font-weight: bold;
    }

    .icon {
        color: var(--text-color);
        font-size: 12px;
        filter: grayscale(100%);
        opacity: 0.8;
    }

    &:hover,
    &:focus {
        background-color: rgba(0, 0, 0, 0.10);
    }
}