.message-wrapper {
    $chat-primary-color: rgba(0, 103, 76, 0.5);
    // height: calc(100vh - 150px);
    position: relative;
    margin-top: 10px;

    .alink {
        display: inline-block;
        text-align: center;
        cursor: pointer;
    }

    input[type="text"],
    button {
        padding: 4px 8px;
        border: 0;
        outline: 0;
    }

    button {
        background-color: transparent;
        cursor: pointer;
        color: var(--text-color);
    }

    button:hover i {
        color: var(--header-color);
        transform: scale(1.2);
    }

    /* chat_box */
    .chat_box {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: auto;
        background-color: $chat-primary-color;
        // position: absolute;
        // left: 0;
        // right: 0;
        border: 0;
        top: 10%;
    }

    @media screen and (min-width:$large-start) {
        .chat_box {
            width: 470px;
        }
    }

    @media screen and (min-width:$medium-start) and (max-width:$medium-end) {
        .chat_box {
            width: 500px;
        }
    }

    @media screen and (max-width:$small-end) {
        .chat_box {
            width: 100%;
        }
    }

    .chat_box>* {
        padding: 16px;
    }

    /* head */
    .head {
        display: flex;
        align-items: center;
    }

    .head .user {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .head .user .avatar {
        margin-right: 8px;
    }

    .head .user .avatar img {
        display: block;
        border-radius: 50%;
    }

    .head .bar_tool {
        display: flex;
        list-style: none;
    }

    .head .bar_tool i {
        padding: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* body */
    .body {
        flex-grow: 1;
        background-color: var(--header-color);
        padding: 0;

        .body-container {
            max-height: 350px;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 16px;
        }

        .body-container::-webkit-scrollbar {
            width: 0 !important
        }
    }

    .body .bubble {
        display: inline-block;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 15px;
    }

    .body .bubble p {
        color: var(--text-color);
        font-size: 14px;
        text-align: left;
        line-height: 1.4;
    }

    .body .incoming {
        text-align: left;
    }

    .body .incoming .bubble {
        background-color: $chat-primary-color;
    }

    .body .outgoing {
        text-align: right;
    }

    .body .outgoing .bubble {
        background-color: #b2b2b2;
    }

    .body .msg-time {
        color: #a4a5a5;
        font-size: 11px;
    }

    /* foot */
    .foot {
        display: flex;
        background-color: var(--header-color);
        border-top: 1px solid var(--divider-border-color);

        button {
            background: $chat-primary-color;

            &:hover {
                color: var(--hover-text-color);
            }
        }
    }

    .foot .msg {
        flex-grow: 1;
    }

    @keyframes bounce {
        50% {
            transform: translate(0, 5px);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    .ellipsis {
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #b7b7b7;
    }

    .dot_1 {
        /* animation: name duration timing-function delay iteration-count */
        animation: bounce 0.8s linear 0.1s infinite;
    }

    .dot_2 {
        animation: bounce 0.8s linear 0.2s infinite;
    }

    .dot_3 {
        animation: bounce 0.8s linear 0.3s infinite;
    }
}